# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Xx]64/
[Xx]86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
bld/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# Rider / JetBrains
.idea/
*.sln.iml

# VS Code
.vscode/

# Build/restore artifacts
project.lock.json
project.fragment.lock.json
artifacts/
*.nuget.props
*.nuget.targets

# MSBuild / test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
*.trx
*.coverage
*.coveragexml
[Cc]overage*/

# NuGet
*.nupkg
*.snupkg
packages/
!packages/build/
*.nuget.dgspec.json

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Misc
*.tmp
*.cache
*.bak
*.swp
*~
Thumbs.db
Desktop.ini
.DS_Store